.search {
  display: flex;
  width: 70%;
}

.search-button {
  border: none;
  width: 40px;
  cursor: pointer;
}

.search-input {
  width: 100%;
  border: none;
  padding: 10px;
}

.logo {
  margin-right: 20px;
}
