@import 'src/style/variables';

.header {
  background-color: $yellow;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.header-container {
  display: flex;
  width: 80%;
}

.header-logo {
  margin-right: 20px;
}
