$yellow: #FFE600;
$black: #000;
$dark-gray: #333333;
$medium-gray: #666666;
$gray: #999999;
$light-gray: #EEEEEE;
$blue: #3483FA;
$white: #FFF;

$spacing-16: 16px;
$spacing-32: 32px;
$spacing-64: 64px;
